---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero";
---

<BaseLayout title="Urmzd - Software Engineer">
  <main>
    <Hero client:load />
  </main>
</BaseLayout>
