---
import NavigationMenuDemo from './NavigationMenuDemo';
import { ModeToggle } from './ModeToggle';
---

<header
  class="fixed top-0 left-0 right-0 z-50 bg-background/80 backdrop-blur-sm border-b border-border/40"
>
  <div class="container mx-auto flex h-16 items-center justify-between px-4">
    <div></div>
    <NavigationMenuDemo client:load />
    <ModeToggle client:load />
  </div>
</header>
